*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.rel{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin: 20px auto;
    color: white;
    background-color: crimson;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s linear;
}
.rel .winter{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.rel .spring{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: none;
}
.rel:hover .winter{
    display: none;
}
.rel:hover .spring{
    display: block;
}
.rel:hover button{
    display: block;
    margin-top: -10px;
}
button{
    padding: 10px 20px;
    margin: 15px;
    border: 1px solid;
    color: #fff;
    background-color: blue;
    border-radius: 5px;
    position: absolute;
    transition: all 5s ease-out;
    display: none;
}
button:hover{
    background-color: green;
    color: blue;
    cursor: pointer;
    border: 2px solid rgb(33, 230, 230);
}
.positon{
    width: 70px;
    height: 50px;
    background-color: blue;
    color: #fff;
    position: sticky;
    margin-top: 200px;
    top: 100px;
}
